@media all and (max-width : 1200px) {
 .container {width:90%;}
}

@media all and (max-width : 1024px) {

}

@media all and (max-width : 940px) {

}

@media all and (max-width : 768px) {

}

@media all and (max-width : 640px) {

}

@media all and (max-width : 480px) {

}

@media all and (max-width : 420px) {

}

@media all and (max-width : 376px) {
	.
}
	
@media all and (max-width : 320px) {

}